@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page throws an error on startup - so you'll not see this, but the Error or Exception page.</p>
</div>
